
    .slideshow-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* max-width: 2048px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slideshow {
    display: flex;
    overflow: hidden;
    position: relative;
  }
  
  .slide {
    width: 98vw;
    height: auto;
    opacity: 100%;
    transition: opacity 0.5s ease;
  }
  
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
   