.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; /* Align cards vertically in the center */
    /* margin-top: 180px; */
    margin-bottom: 180px;

  }
  
  .card {
  width: 480px;
  height: 900px; /* Set the desired fixed height */
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
    background-color: #fafafa;
  }
  
  .card-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .card-name {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .card-description {
    font-size: 16px;
  }

  
  